
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Coches cutres</title>
</head>
<body>
    <div> 
        <ul>
            <li>@Html.ActionLink("Clientes", "Listado", "Clientes")</li>
            <li>@Html.ActionLink("Empleados", "Listado", "Empleados")</li>
            <li>@Html.ActionLink("Vehículos", "Listado", "Vehiculos")</li>
            <li>@Html.ActionLink("Operaciones de compra u venta", "Index", "Operaciones")</li>
        </ul>
    </div>
</body>
</html>
